{% extends 'layout.html' %}

{% block content %}
<div class="flex h-screen overflow-hidden">

    <!-- Movil -->
    <div x-show="mobileMenuOpen" 
         @click="mobileMenuOpen = false"
         x-transition.opacity
         class="fixed inset-0 bg-gray-900/80 z-30 md:hidden backdrop-blur-sm">
    </div>

    {% include 'components/sidebar.html' %}

    <!-- Contenido principal -->
    <main class="flex-1 flex flex-col relative h-full bg-white dark:bg-gray-800 transition-colors duration-300">
        
        <!-- header -->
        {% include 'components/header.html' %}

        <!-- chat -->
        {% include 'components/chat/chat_area.html' %}

        <!-- prompt -->
        {% include 'components/chat/prompt_area.html' %}
    </main>
</div>
{% endblock %}